.tv {
    background-color: #333;
    width: 50%;
    margin: 0 auto;
    display: block;
    height: 600px;
}
.tv2 {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-top: 50px;
    height: 370px;
}
button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    background-color: aquamarine;
}
.bar {
    width: 50%;
    margin: 0 auto;
    height: 50px;
    background-color: rgb(32, 32, 32);
    display: block;
    margin-top: 130px;
}
